* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: verdana;
    background-color: white;
    color: rgb(23, 172, 138);
    text-align: center;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 0 black;
}

body{
    background-color: lightgray;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.display-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario, .fm2, .fm3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(179, 179, 179);
    padding: 30px;
    border-radius: 15px;
    border: solid rgb(143, 143, 143);
    box-shadow: 0 0 4px 0 black;
    width: 60%;
    max-width: 600px;
    margin: 20px 0; /* Adicionado para espaçamento vertical entre formulários */
    margin-top: 80px
}

.fm4 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(179, 179, 179);
    padding: 30px;
    border-radius: 15px;
    border: solid rgb(143, 143, 143);
    box-shadow: 0 0 4px 0 black;
    width: 60%;
    max-width: 600px;
    margin: 20px 0; /* Adicionado para espaçamento vertical entre formulários */
    margin-top: 80px;

}

p {
    font-weight: bold;
}

.title-cliente {
    font-family: verdana;
    margin-bottom: 40px;
    color: rgb(10, 93, 167);
}

input{
    text-align: center;
    outline: none;
    font-family: verdana;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 4px 0;
}

label {
    font-weight: bold;
}


input::placeholder{
    text-align: center;
}

input[type='checkbox']{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: white;
}


textarea {
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 4px 0;
}

.buttons {
    margin: 15px;
    font-family: verdana;
}

.buttons-tens {
    font-family: verdana;
}

.buttons-tens2 {
    font-family: verdana;
    margin: 15px;
}

.buttons-conex {
    margin-top: 15px;
    font-family: verdana;
}

.buttons-conex2{
    margin: 25px;
    font-family: verdana;
}

.next-page {
    margin-top: 25px;
    padding: 10px;
    border: none;
    background-color:#0099ff ;
    border-radius: 10px;
    box-shadow: 0 0 4px 0;
    cursor: pointer;
    font-weight: bold;
}

.next-page-2 {
    margin-top: 25px;
    padding: 10px;
    border: none;
    background-color:#0099ff ;
    border-radius: 10px;
    box-shadow: 0 0 4px 0;
    cursor: pointer;
    font-weight: bold;
}


.next-page-3 {
    margin-top: 25px;
    padding: 10px;
    border: none;
    background-color:#0099ff ;
    border-radius: 10px;
    box-shadow: 0 0 4px 0;
    cursor: pointer;
    font-weight: bold;
}

.error-message {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    color: red;
}

.button-enviar{
    margin-top: 25px;
    padding: 10px;
    border: none;
    background-color:#4CAF50 ;
    border-radius: 10px;
    box-shadow: 0 0 4px 0;
    margin-left: 50px;
    font-weight: bold;
    cursor: pointer;
}

.button-voltar{
    margin-top: 25px;
    padding: 10px;
    border: none;
    background-color:rgb(255, 47, 47) ;
    border-radius: 10px;
    box-shadow: 0 0 4px 0;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
}
.med-painel {
    padding-left: 10px;
    padding-right: 10px;
}

.med1 {
    margin: 30px;
    margin-bottom: -5px;
}

.med1-title {
    font-family: verdana;
}

.obs {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 60px;
    word-wrap: break-word;
    margin-top: 8px;
    outline: none;
    resize: none;
}

.hidden {
    display: none;
}

#addProductButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

#addProductButton:hover {
    background-color: #45a049;
}

#product-item {
    margin-bottom: 30px;
}


.remove-button {

    background-color: red; /* Verde */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

img {
    width: 5%;
}

.title-lavand {
    font-family: verdana;
    margin-top: 50px;
    text-align: center;
    margin-bottom: -30px;
    color: rgb(10, 93, 167);
    text-shadow: 0px px 0px black;
}

.equipment-item {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.equipment-item h2 {
    margin-top: 0;
}

.equipment-item label {
    display: block;
    margin-bottom: 0px;
}

.equipment-item input[type="text"] {
    margin-bottom: 4px;
    width: 10%;
    border: none;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.column {
    flex: 1;
    min-width: 200px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ddd;
    border-radius: 10px;
}

#addEquipmentButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;        
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.inline-options label {
    display: inline-block;
    margin-right: 10px;
}

@media (max-width: 1000px) {

    .formulario {
        padding-left: 50px;
        padding-right: 50px;
    }
    .buttons {
        margin-left: 10px
    }
    .obs{
        padding-left: 25px;
        padding-right: 25px;
    }
    img {
        width: 10%;
       
    }
}

.form-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.maq-cont {
    display: flex;
    margin-left: 0px;
    flex-direction: row;
    
}

.cap-inp {
    margin-left: 20px;
}

.formaqs {
    display: grid;
    gap: px; /* Espaçamento entre as colunas */
    grid-row: span 1;
}
.formaqs > div {
    background-color: lightgray;
    padding: 90px;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.col-title {

    margin-top: -70px;
    margin-bottom: 30px;
    font-family: verdana;
}

.semauto {
    width: 54%;
    height: 24%;
    
}
.button-equipment {
    display: flex;
    justify-content: center;
}

.large-input {
    width: 100%;
}
